@charset "utf-8";
/* CSS Document */
body{background-color: #FCFCFC; padding: 0; margin: 0; font-family: -apple-system,PingFang SC,Helvetica Neue,STHeiti,Microsoft Yahei,Tahoma,Simsun,sans-serif;}
ul,li{list-style: none; padding: 0; margin: 0;}
h1,h2,h3,h4{margin: 0; padding: 0;}

/*头部*/
